venv
__pycache__
*__pycache__*
/venv
/__pycache__
.secrets
/.secrets
.idea/
.idea/

node_modules/
node_modules
node_modules*


package-lock.json
package.json
tailwind.config.json
/static/css/input.css


.idea
.idea/
.idea/*


