<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" <link rel="icon" href="/static/assets/bitlink.jpeg" />
    />
    <link rel="stylesheet" href="/static/css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <title>Uh Oh</title>
  </head>
  <body class="bg-white">
    <main
      class="bg-gradient-to-br from-sky-200 via-white to-white pt-[100px] md:pt-[130px]"
    >
      <!-- Header  -->

      <header
        class="fixed top-0 left-0 right-0 z-10 bg-gradient-to-br from-sky-200 via-sky-200 to-white py-2 px-4 flex flex-row justify-between items-center"
      >
        <div class="lg:w-[15%] lg:ml-4 lg:flex-shrink-0 self-center">
          <div class="flex flex-row justify-start items-center space-x-2">
            <div class="lg:hidden relative">
              <i class="text-4xl text-sky-500 bi-list"></i>
            </div>

            <!-- <div class="">
              <image
                alt="Logo"
                src="/assets/SVG/fluur-white.svg"
                loading="eager"
                priority
                width="100"
                height="50"
              />
            </div> -->
          </div>
        </div>

        <ul
          class="hidden lg:flex flex-row justify-start space-x-16 items-center self-end flex-1"
        >
          <a href="">
            <li
              class="text-black/60 self-end border-b-2 pb-2 border-transparent hover:text-sky-500 hover:border-sky-500 font-bold transition-colors duration-200 text-lg"
            >
              Features
            </li>
          </a>

          <a href="">
            <li
              class="text-black/60 self-end border-b-2 pb-2 border-transparent hover:text-sky-500 hover:border-sky-500 font-bold transition-colors duration-200 text-lg"
            >
              Pricing
            </li>
          </a>

          <a href="">
            <li
              class="text-black/60 self-end border-b-2 pb-2 border-transparent hover:text-sky-500 hover:border-sky-500 font-bold transition-colors duration-200 text-lg"
            >
              About
            </li>
          </a>
        </ul>

        <div class="max-w-[300px] lg:block">
          <button
            class="block w-full hover:c-bg hover:opacity-80 transition-opacity duration-200 rounded-3xl bg-sky-500 text-white px-6 font-bold capitalize py-2 text-sm md:text-lg"
          >
            Sign up
          </button>
        </div>
      </header>

      <!-- Header ends  -->

      <div class="max-w-2xl w-[90%] mx-auto">
        <h1
          class="text-sky-500 font-bold text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-center"
        >
          Oops! This link does not exist or has expired.
        </h1>

        <div
          class="w-full mt-6 md:mt-12 flex flex-col justify-center items-center"
        >
          <a href="">
            <p
              class="bg-sky-500 text-center text-white text-sm inline-block mx-auto px-3 md:px-4 py-1 md:py-2 rounded-xl"
            >
              {{base_domain}}/{{target}}
            </p>
          </a>
        </div>
        <p
          class="my-6 text-center text-sky-500 p-4 px-8 text-sm xl:text-base 2xl:text-lg"
        >
          Try checking the link for typos or
          <a href="/" class="underline">create a new short link</a>.
        </p>

        <div
          class="flex flex-row justify-around py-6 items-center px-4 bg-sky-500/10"
        >
          <i class="bi-info-circle text-3xl text-black/60"></i>
          <p class="text-center text-black/60 text-sm xl:text-base 2xl:text-lg">
            If this link belongs to you and you'd like to retain it, please
            contact us.
          </p>
        </div>
      </div>

      <div class="bg-sky-500 mt-48">
        <div
          class="bg-sky-500 relative bottom-[50px] min-h-[60px] md:min-h-[100px] transform skew-y-3"
        ></div>

        <p
          class="text-white font-bold text-xl md:text-2xl max-w-[25rem] ml-4 md:ml-16 text-left p-3"
        >
          Build Custom Audiences from
          <span class="text-yellow-400">every URL</span>
        </p>

        <p
          class="my-2 text-center md:text-left text-white ml-4 md:ml-16 px-4 md:px-2 py-6 max-w-[25rem] text-sm xl:text-base 2xl:xl"
        >
          Use BitLink to create super-targeted ads campaigns on your favourite
          platforms like Facebook, Twitter, LinkedIn and Instgram to boost your
          conversion.
        </p>

        <!-- Newsletter  -->

        <div class="max-w-3xl mx-auto md:mt-24 mt-8 w-[90%] md:w-full pb-16">
          <h2
            class="text-white font-bold text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl text-center"
          >
            Subscribe to our newsletter
          </h2>

          <p
            class="my-6 text-center text-white/80 p-4 px-8 text-sm xl:text-base 2xl:text-lg"
          >
            Subscribe to our newsletter and keep up to date with news and useful
            information on shortening links.
          </p>

          <div class="relative">
            <input
              class="rounded-xl bg-sky-100 h-[60px] md:h-[70px] placeholder:text-black/30 placeholder:text-base text-sky-500 block w-full pl-12 md:pl-16 pr-4 py-4 outline-none"
              type="email"
              placeholder="Email address"
              name="email"
            />

            <i
              class="bi-envelope text-xl md:text-2xl absolute top-[30%] left-[4%] text-black/30"
            ></i>

            <button
              role="button"
              class="shadow absolute top-[10%] md:top-[15%] right-[2%] rounded-xl min-w-[100px] bg-yellow-500 text-white hover:opacity-80 transition-opacity duration-300 px-4 md:px-12 py-3"
            >
              Subscribe
            </button>
          </div>

          <p
            class="mt-6 text-center text-white/80 p-4 px-8 text-sm xl:text-base 2xl:text-lg"
          >
            Please read all the terms and conditions and accept them on the
            basis of privacy (Your email will not be used to send spam or
            promotional messages)
          </p>
        </div>
        <hr class="border-t-[1px] border-white/60 mb-16 block" />

        <div
          class="flex flex-row justify-between items-center w-full text-white px-8 pb-16"
        >
          <div
            class="flex flex-col text-left justify-center items-start md:flex-row space-x-0 space-y-4 md:space-y-0 md:space-x-12"
          >
            <a href=""> Link retargeting </a>
            <a href=""> FAQ </a>
            <a href=""> Pricing </a>
            <a href=""> Terms and Privacy </a>

            <a href=""> About </a>
          </div>

          <div class="space-x-4">
            <a href="">
              <i class="bi-facebook text-xl"></i>
            </a>

            <a href="">
              <i class="bi-twitter text-xl"></i>
            </a>

            <a href="">
              <i class="bi-github text-xl"></i>
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p
        class="text-black/60 text-center text-xs md:text-sm pt-4 md:pt-16 pb-2"
      >
        &copy; BitLink Labs. All rights reserved.
      </p>
    </footer>
  </body>
</html>
